<!DOCTYPE html>
<html>
<head>
  <link rel="stylesheet" href="css/main.css">
</head>
<body>
<table>
    <thead>
        <tr>
            <th>Test</th>
            <th>Rtr1</th>
            <th>Rtr2</th>
        </tr>
    </thead>
    <tbody>
{% for test_case in test_suite %}
{% set pass_fail_rtr1 = hostvars['rtr1'][test_suite[test_case].result]["failed"] %}
{% set pass_fail_rtr2 = hostvars['rtr2'][test_suite[test_case].result]["failed"] %}
        <tr>
            <td>{{test_suite[test_case].name}}</td>
            <td>{% if pass_fail_rtr1 == false %}Test Passed{% endif %}{% if pass_fail_rtr1 == true %}Test Failed{% endif %}</td>
            <td>{% if pass_fail_rtr2 == false %}Test Passed{% endif %}{% if pass_fail_rtr2 == true %}Test Failed{% endif %}</td>        </tr>
{% endfor %}
    </tbody>
</table>

</body>
</html>
