<!DOCTYPE html>
<html>
<head>
  <link rel="stylesheet" href="css/main.css">
</head>
<body>
<table>
    <thead>
        <tr>
            <th>Test</th>
            <th>Rtr1</th>
            <th>Rtr2</th>
        </tr>
    </thead>
    <tbody>
{% set pass_fail_rtr1 = hostvars['rtr1'].test1["failed"] %}
{{ pass_fail_rtr1 }}
    </tbody>
</table>

</body>
</html>
